@{
    ViewBag.Title = "Index";
}

<h1>Restaurante</h1>

<a href="@Url.Action("Index", "Home")">Voltar</a>

<div style="width: 250px; background-color: #cccccc; float: left;">
    <h2>Comidas</h2>

    <p><img src="~/Assets/images/picanha.jpg" /></p>
    <h3>Churrasco</h3>
    <p>
        Não há <span style="color:green;">churrasco</span> igual ao feito no Rio Grande do Sul – pelo menos segundo os gaúchos.
        Os mais tradicionalistas abominam rodízio (ou espeto corrido) e torcem o nariz para bufê de salada.
        Para eles, a farinha de mandioca é a melhor companhia para a carne.
        Também não têm interesse pelo filé-mignon - suas preferências são a costela e a picanha.
        Muitas churrascarias de Porto Alegre servem, à la carte, carnes de boi, porco, carneiro e galeto no espeto, temperadas só com sal grosso,
        que impede o ressecamento e garante sabor e macies.
    </p>

    <p><img src="~/Assets/images/carne-de-sol.jpg" /></p>
    <h3>Carne de Sol</h3>
    <p>
        Um banquete de carne de sol inclui sempre feijão-verde, macaxeira, farofa dágua, pirão de leite e vinagrete.
        Mas não se deixe enganar pelo nome do ingrediente principal: a carne salgada descansa previamente na geladeira ou em câmara fria,
        e não no sol, que a deixaria mais dura e desidratada, originando a famosa carne-seca.
        Extraída de coxão mole ou duro, a peça é assada na grelha ou frita na manteiga de garrafa.
    </p>

    <p><img src="~/Assets/images/acaraje.jpg" /></p>
    <h3>Acarajé</h3>
    <p>
        Chamado de acará na língua iorubá, o bolinho de feijão-fradinho, frito em azeite de dendê, é recheado com vatapá,
        camarão seco e vinagrete. Paladares desacostumados devem responder "Não" à pergunta "Com pimenta?", repetida pelas baianas nas barracas
        de Salvador. As melhores ficam no Farol da Barra, e costumam aparecer por lá à noitinha. Quem prepara: as baianas em suas barracas.
        As mais famosas são de Dinha e de Regina (Largo de Santana, Rio Vermelho), de Cira (Largo de Itapuã, em Itapuã, e Largo da Mariquita,
        no Rio Vermelho) e de Sônia (Farol da Barra).
    </p>
</div>

<div style="width: 250px; float: left;">
    <h2>Bebidas</h2>

    <p><img src="~/Assets/images/Martini-Rosso.jpg" /></p>
    <h3>Martini Rosso</h3>
    <p>
        Bebida composta de vinho tinto e ervas aromáticas. Criado inicialmente em 1863, Martini Rosso permanece como o autêntico vermute: natural,
        elegante, refrescante e estimulante. Pode ser encontrado ainda nas versões bianco e rosé e é ideal para ser servido como aperitivo com
        gelo picado, ou misturado com sucos de frutas ou água mineral.
    </p>

    <p><img src="~/Assets/images/Punt-Mes.jpg" /></p>
    <h3>Punt e Mes</h3>
    <p>
        Surge em Turim, Itália, e traz, no sabor levemente amargo, uma receita secreta que combina a destilação de uvas misturadas com substâncias
        balsâmicas e aromáticas, que caracterizam um bom vermute. Ótimo se apreciado em copo longo com gelo, água tônica e rodelas de laranja.
    </p>

    <p><img src="~/Assets/images/Baileys.jpg" /></p>
    <h3>Baileys</h3>
    <p>
        Licor irlandês elaborado a partir da mistura de creme de leite irlandês com o melhor whisky do país e sabores naturais de cacau e baunilha.
        Esses ingredientes são misturados utilizando os mais modernos equipamentos em um processo que, apesar de simples, é altamente secreto.
    </p>

    <p><img src="~/Assets/images/Cointreau.jpg" /></p>
    <h3>Cointreau</h3>
    <p>
        Licor fino, elaborado a partir de um blend de cascas de laranjas doces e amargas em um processo controlado.
        As laranjas utilizadas para a sua elaboração vêm de todas as partes do mundo, especialmente do Brasil e dos Estados Unidos.
        Além de ser consumido como digestivo e aperitivo, também é muito utilizado na culinária.
    </p>
</div>


