@{
    ViewBag.Title = "Benefícios";
}

<a id="topo"><h1>Benefícios</h1></a>

<a href="@Url.Action("Index", "Home")">Voltar</a>

<ul>
    <li>Embraco</li>
    <li>Unilever</li>
    <li>Grupo Boticário</li>
    <li><a href="#google">Google</a></li>
    <li><a href="#brooksfield">brookfield incorporações</a></li>
    <li>Uniqlo</li>
    <li><a href="#link1">Link1</a></li>
    <li><a href="#link2">Link2</a></li>
</ul>

<h2>Embraco</h2>
<p>
    Desde 1991, a Embraco, fabricante de compressores para refrigeração, mantém um berçário dentro da fábrica em Joinville, SC.
    O espaço é voltado para crianças de até um ano e com 25 vagas. Para as mulheres o benefício é gratuito.
    A funcionária pode começar a trabalhar 30 minutos mais tarde para amamentar o filho, atividade que realiza de novo no meio do dia e no
    final do expediente, quando é liberada 20 minutos mais cedo.
</p>

<h2>Unilever</h2>
<p>
    Entre as vantagens para os 13.700 colaboradores no Brasil, a Unilever oferece um programa de mentoria.
    O funcionário escolhe seu mentor, que recebe uma capacitação para esse papel.
    Os programas de aconselhamento e desenvolvimento ajudam o profissional a crescer ascensão de cargo dentro da Unilever ou que foram
    promovidos recentemente.
</p>

<h2>Grupo Boticário</h2>
<p>
    Cerca de 70% dos 7.000 colaboradores diretos do Grupo Boticário são mulheres.
    Por isso, a empresa - que engloba as marcas O Boticário, Eudora, quem disse, berenice? e The Beauty Box - oferece diversos benefícios para mulheres,
    gestantes e mães.
</p>

<a id="google"><h3>Google</h3></a>
<p>
    O Google é reconhecido pelas regalias que oferece a seus funcionários.
    Em quase todas as sedes da empresa de tecnologia, a geladeira é aberta e funcionários podem pegar os lanchinhos que quiserem, de forma gratuita.
</p>

<a id="brooksfield"><h3>Brookfield Incorporações</h3></a>
<p>
    Para diminuir o estresse e garantir o bem-estar físico e psicológico dos seus funcionários, a Brookfield Incorporações oferece o programa Fique Bem.
    Com assessoria jurídica, financeira, social e psicológica, o programa existe desde 2009 e é confidencial, sem passar pelo RH da empresa.<br />
    <a href="#topo">Voltar ao topo</a>
</p>

<h3>Uniqlo</h3>
<p>
    Para a rede japonesa de moda Uniqlo, a semana de trabalho tem apenas quatro dias.
    A empresa irá propor a seus funcionários três dias de folga, para aumentar o convívio familiar.
    O sistema, que deve vigorar a partir de outubro, não terá redução salarial, mas prevê um aumento do período diário de trabalho de 8 para 10 horas.
    <br />
    <a href="#topo">Voltar ao topo</a>
</p>

<h2>Grupo Boticário</h2>
<p>
    Cerca de 70% dos 7.000 colaboradores diretos do Grupo Boticário são mulheres.
    Por isso, a empresa - que engloba as marcas O Boticário, Eudora, quem disse, berenice? e The Beauty Box - oferece diversos benefícios para mulheres,
    gestantes e mães.
</p>

<a id="link1"><h3>Link1</h3></a>
<p>
    O Google é reconhecido pelas regalias que oferece a seus funcionários.
    Em quase todas as sedes da empresa de tecnologia, a geladeira é aberta e funcionários podem pegar os lanchinhos que quiserem, de forma gratuita.
</p>

<a id="link2"><h3>Link2</h3></a>
<p>
    Para diminuir o estresse e garantir o bem-estar físico e psicológico dos seus funcionários, a Brookfield Incorporações oferece o programa Fique Bem.
    Com assessoria jurídica, financeira, social e psicológica, o programa existe desde 2009 e é confidencial, sem passar pelo RH da empresa.<br />
    <a href="#topo">Voltar ao topo</a>
</p>

<h3>Uniqlo</h3>
<p>
    Para a rede japonesa de moda Uniqlo, a semana de trabalho tem apenas quatro dias.
    A empresa irá propor a seus funcionários três dias de folga, para aumentar o convívio familiar.
    O sistema, que deve vigorar a partir de outubro, não terá redução salarial, mas prevê um aumento do período diário de trabalho de 8 para 10 horas.
    <br />
    <a href="#topo">Voltar ao topo</a>
</p>
