<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Course Web Developer</title>

    <!--REFERÊNCIA CSS-->
    <link href="~/Assets/css/estilo.css" rel="stylesheet" />
</head>
<body style="background-color: #ffffff;">
    
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
